<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>addName</servlet-name>
        <servlet-class>Addnamesservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addName</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>all</servlet-name>
        <servlet-class>Allnamesservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>all</servlet-name>
        <url-pattern>/all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>Removenamesservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
</web-app>